p {
    color: #FFFFFF;
	  font-size: 40px;
    font-family: "Shadows Into Light", cursive;
   font-weight: 200;
   font-style: normal;
    /* margin: 20px; */
    width: 75%;
    text-align: center;
    line-height: 120%;
}

.bubble {
    --r: 1em;  /* the radius */
    --t: 1.5em; /* the size of the tail */
    
    min-width: 100px;
    max-width: 300px;
    padding: 1em;
    border-inline: var(--t) solid #0000;
    border-radius: calc(var(--r) + var(--t))/var(--r);
    mask: 
      radial-gradient(100% 100% at var(--_p) 0,#0000 99%,#000 102%) 
        var(--_p) 100%/var(--t) var(--t) no-repeat,
      linear-gradient(#000 0 0) padding-box;
    background: #FFFFFF20 border-box;
    color: #fff;
    font-family: system-ui, sans-serif;
  }
  .left {
    --_p: 0;
    border-bottom-left-radius: 0 0;
    place-self: start;
  }

#message_bubble {
    margin: 0;
    display: grid;
    place-content: center;
    gap: 20px;
}