<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Moody Animation</title>
    <link type="text/css" rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.min.js"></script>
    <style>
			body { margin: 0; }
		</style>
    <script type="importmap">
      {
        "imports": {
          "three": "https://cdn.jsdelivr.net/npm/three@0.132.2/build/three.module.js",
          "three/addons/": "https://cdn.jsdelivr.net/npm/three@0.132.2/examples/jsm/"
        }
      }
      </script>
      <script>
        var socket = io.connect('http://127.0.0.1:5000/');
        socket.on('new_data', function(msg) {
          document.getElementById('response').innerHTML = msg.data;
        }
      )
      </script>
      
      
</head>
<body style="background-color: black;">
	<script type="module" src="/static/js/testing.js"></script>
  <!-- <script type="module" src="/static/js/checktext.js">document.write(check_messages());</script> -->
    <!-- <img src="https://urlme.me/{{number}}/{{bot_answer}}.jpg"/> -->

	<!-- <form method="POST">
            <input type="submit" value="Refresh"><br><br>
	</form> -->

    <p id="response">{{bot_answer}}</p>  
</body>
</html>